# Rider-specific files
.idea/
*.sln.iml
*.csproj.iml

# Compiled output
/bin/
/obj/

# NuGet packages
/packages/

# User-specific files
*.userprefs
*.suo

# Logs and debugging files
*.log
*.vsps
*.vsp
*.psess
*.cache
*.dll
*.pdb

# Other files and directories
thumbs.db
.DS_Store
*.exe
TickerText/obj/Debug/net7.0/TickerText.csproj.FileListAbsolute.txt
TickerText/obj/Debug/net7.0/TickerText.GeneratedMSBuildEditorConfig.editorconfig
TickerText/obj/project.assets.json
TickerText/obj/rider.project.restore.info
TickerText/obj/TickerText.csproj.nuget.dgspec.json
TickerText/obj/project.packagespec.json
TickerText/obj/TickerText.csproj.nuget.g.props
