# Rider-specific files
.idea/
*.sln.iml
*.csproj.iml

# Compiled output
/bin/
/obj/

# NuGet packages
/packages/

# User-specific files
*.userprefs
*.suo

# Logs and debugging files
*.log
*.vsps
*.vsp
*.psess
*.cache
*.dll
*.pdb

# Other files and directories
thumbs.db
.DS_Store